[Desktop Entry]
Type=Application
Name=Mystem Sonitor
Comment=Advanced System Resource Monitor
Exec=env DISPLAY=:1 /usr/bin/python3 /home/dev/mystem_sonitor/mystem_sonitor.py
Icon=/home/dev/mystem_sonitor/icon.png
Terminal=false
Categories=System;Monitor;Utility;
StartupNotify=false
Keywords=system;monitor;cpu;ram;gpu;
